{% extends "base.html" %}

{% block title %}
    报表统计
{% endblock %}

{% block style %}
    <style>
        body{
            padding: 0;
        }
        .navbar{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .main{
            padding: 10px;
            margin: 0;
            width: 100%;
        }
        .modal-dialog {
            width: 900px;
            max-width: 90%;
        }
        .github-corner{
            display: none;
        }
    </style>
{% endblock %}


{% block content %}
    <h3>报表统计</h3>
    <form id="form" action="." method="POST" class="form" enctype="multipart/form-data" >
        <div class="form-group">
            <label class="control-label" >上传 Excel 原始数据</label>
            <input type="file" name="file">
            <input type="text" class="form-control form-datetime" name="begin" value="{{ begin }}" autocomplete="off">
            -
            <input type="text" class="form-control form-datetime" name="end" value="{{ end }}" autocomplete="off">
            <input type="submit" name="submit" class="btn btn-primary" value="提交">
        </div>

    </form>

    {% if result %}

        {% for day, rs in result %}
            <hr>
            <h5>{{ day }}</h5>
            {% for r in rs %}
                <p>{{ r.0 }}: {{ r.1 }}</p>
            {% endfor %}
        {% endfor %}


        <form id="form" action="/xls/" method="POST" class="form" enctype="multipart/form-data" >
            <div class="form-group">
                <input type="hidden" name="data" value="{{ download_data }}">
                <input type="submit" name="submit" class="btn btn-primary" value="下载数据">
            </div>
        </form>

    {% endif %}

{% endblock %}
