<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>Athena Tools</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.js"></script>
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>

    <style>
        .form-control{
            display:inline;
            width:auto;
        }
        .form-group{
            white-space:nowrap;
        }
        .form-datetime{
            width: 120px;
        }
        .sub-header{
          margin-top: 2px;
        }
        {% if not request.user.is_staff %}
            .staff_required{
                display: none !important;
            }
        {% endif %}
    </style>


    {% block style %}
    {% endblock %}

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Athena Tools</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="/password/">修改密码</a></li>
                    <li><a href="/logout/">登出 {{ request.user.username }}</a></li>
                {% else %}
                    <li id="login"><a href="/login/">登录</a></li>
                    <li id="register"><a href="/register/">注册</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-sidebar">

                <li id="xls"><a href="/xls/">XLS</a></li>
                <li id="rsa"><a href="/rsa/">RSA</a></li>
                <li id="mysql"><a href="/mysql/">MySQL</a></li>
                <li id="pdf"><a href="/pdf/">PDF</a></li>
                <li id="cert_reminder"><a href="/cert_reminder/">Reminder</a></li>
                <li id="slim"><a href="/slim/">墩图瘦身</a></li>
                <li id="wb"><a href="/wb/">白平衡</a></li>

                {% if request.user.is_authenticated %}
                    <li><a href="/password/">修改密码</a></li>
                    <li><a href="/logout/">登出 {{ request.user.username }}</a></li>
                {% else %}
                    <li id="login"><a href="/login/">登录</a></li>
                    <li id="register"><a href="/register/">注册</a></li>
                {% endif %}

            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

<script>

    $(".form-datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: true,
        clearBtn: true,
        todayHighlight: true,
        minView: 2,
        language: 'zh-CN'
    });
</script>

{% block script %}
{% endblock %}

</body>
</html>
