{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>砥翼红包竞猜</title>

    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    
    <div class="alert alert-success" role="alert">恭喜您答对了，支付宝红包口令是：101661109！快去领取吧~</div>

    <div class="alert alert-warning" role="alert">Sorry~ 您答错了！</div>

    <div class="alert alert-danger" role="alert">每人只有一次机会哦！</div>

</body>
</html>
