{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>砥翼红包竞猜</title>

    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% elif is_success %}
        <div class="alert alert-success" role="alert">恭喜您答对了，支付宝红包口令是：101661109！快去领取吧~</div>
    {% else %}
        <div class="alert alert-warning" role="alert">Sorry~ 您答错了！</div>
    {% endif %}

    <p style="position: fixed; bottom: 0">{{ number }} | {{ cookie_number }}<p>

</body>
</html>
