
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Athena Tools</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
    html, body {
      overflow-x: hidden; /* Prevent scroll on narrow devices */
    }
    .text-white-50 { color: rgba(255, 255, 255, .5); }
    .bg-purple { background-color: #6f42c1; }
    .border-bottom { border-bottom: 1px solid #e5e5e5; }
    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    .lh-100 { line-height: 1; }
    .lh-125 { line-height: 1.25; }
    .lh-150 { line-height: 1.5; }
    a {
        color: inherit;
    }
    .kit-item {
      cursor: pointer;
    }
    </style>

  </head>

  <body class="bg-light">

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Athena Tools</h6>
          <small>useful web toolkit</small>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Tools:</h6> -->

        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/xls/">@XLS</a></strong>
            【xls 云生成】服务，将数据命令以 data 参数形式传入，即可生成 xls 数据文件！
          </p>
        </div>

        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/rsa/">@RSA</a></strong>
            RSA 密钥对生成 以及根据私钥提取公钥
          </p>
        </div>

        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/mysql/">@MySQL</a></strong>
            通过接口连接和访问 MySQL 数据库
          </p>
        </div>

        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/pdf/">@PDF</a></strong>
            在线 pdf 文件拆分和合并
          </p>
        </div>

        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/cert_reminder/">@证书提醒</a></strong>
            Https 证书临期提醒，可发邮件提醒即将过期的证书，以便及时续期
          </p>
        </div>


        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/slim/">@墩图瘦身</a></strong>
            墩图瘦身 将图片压缩到符合您要求的大小
          </p>
        </div>


        <div class="media text-muted pt-3 kit-item">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><a href="/wb/">@白平衡</a></strong>
            快捷方便地处理调整图片白平衡
          </p>
        </div>

        <small class="d-block text-right mt-3">
          <a href="https://github.com/taojy123">Maintain By <span style="color: #e83e8c">Tao.py</span></a>
        </small>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://v4.bootcss.com/assets/js/vendor/jquery-slim.min.js"></script>
    <script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
    <script src="https://v4.bootcss.com/assets/js/vendor/holder.min.js"></script>
    <script>
      $('.kit-item').click(function(){
        var href = $(this).find('a').attr('href')
        top.location = href
      })
    </script>
  </body>
</html>
