{% extends "base.html" %}

{% block content %}

    <h2 class="sub-header">在线 PPT</h2>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if finish %}
        <div class="alert alert-success">
            请打开 <a href="http://ppt.tslow.cn" target="_blank">http://ppt.tslow.cn</a>> 查看PPT
        </div>
    {% endif %}

    <form id="form" action="." method="POST" class="form-horizontal" enctype="multipart/form-data" >

        <div class="form-group">
            <label class="col-sm-3 control-label" >上传更新 Markdown 文件:</label>
            <input class="form-control" type="file" name='file' id="file">
            <input type="submit" name="submit" class="btn btn-primary" value="提交">
        </div>

    </form>

    <div style="display: none;">
        <p>stdout: {{ stdout }}</p>
        <p>stderr: {{ stderr }}</p>
        <p>code: {{ code }}</p>
    </div>

{% endblock %}


{% block script %}
    <script>
        $("#ppt").addClass('active');
    </script>
{% endblock %}
