{% extends "base.html" %}


{% block style %}
    <style>
        body{
            padding: 0;
        }
        .navbar{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .main{
            padding: 10px;
            margin: 0;
            width: 100%;
        }
        .form-control{
            width: 60%;
        }
        .check_label{
            margin-top: 7px;
            font-weight: normal;
            margin-left: 7px;
        }
    </style>
{% endblock %}


{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>原材料进货录入</span>
        </div>
        <div class="panel-body">

            {% if msg %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endif %}


            <form id="form" action="." method="POST" class="form-horizontal" enctype="multipart/form-data" >

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >原材料</label>
                    <select name="product_id" class="selectpicker" data-live-search="true">
                        <option value="">选择原材料</option>
                        {% for product in products %}
                            <option value="{{ product.id }}"
                                    data-exp="{{ product.exp }}"
                                    data-storage="{{ product.storage }}"
                                    data-check_package="{{ product.check_package }}"
                                    data-check_label="{{ product.check_label }}"
                                    data-check_odorless="{{ product.check_odorless }}"
                                    data-check_freeze="{{ product.check_freeze }}">
                                {{ product.kind }}类
                                {{ product.title }}
                                {{ product.unit }}
                                {{ product.vendor }}
                                {{ product.supplier }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >采购数量</label>
                    <input class="form-control required" type="number" min="0" name='quantity' value="1" step="0.0001" id="quantity">
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >生产日期</label>
                    <input class="form-control required" type="text" name='produced_at'>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >保质期</label>
                    <input class="form-control" type="text" name='exp' id="exp" disabled>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >贮藏方式</label>
                    <select class="form-control" name="storage" id="storage" disabled>
                        <option value="室温">室温</option>
                        <option value="冷冻">冷冻</option>
                        <option value="冷藏">冷藏</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >收货检查</label>
                    <label class="check_label">
                        <input type="checkbox" name="check_package" id="check_package" disabled>包装完好
                    </label>
                    <label class="check_label">
                        <input type="checkbox" name="check_label" id="check_label" disabled>标签正常
                    </label>
                    <label class="check_label">
                        <input type="checkbox" name="check_odorless" id="check_odorless" disabled>无异味
                    </label>
                    <label class="check_label">
                        <input type="checkbox" name="check_freeze" id="check_freeze" disabled>冻品温度≤-12℃且无软化
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >组别</label>
                    <input class="form-control required" type="text" name='group'>
                </div>
            
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" >日期</label>
                    <input class="form-control required" type="text" name='day' value="{{ today }}">
                </div>

                <hr>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label" id="consume_now" style="cursor: pointer">随即出货</label>
                    <input class="form-control required" type="number" min="0" name='consume_quantity' value="" step="0.0001" id="consume_quantity">
                </div>

                <hr>

                <div class="form-group">
                    <label  class="col-xs-4 col-sm-2 control-label" ></label>
                    <input type="submit" name="submit" class="btn btn-primary" value="提交">
                  <a class="btn btn-info" href="/purchase/list/">查看纪录</a>
                </div>

            </form>

        </div>
    </div>


{% endblock %}


{% block script %}
    <script>
        $("#purchase_entry").addClass('active');
        $("#consume_now").click(function () {
            $("#consume_quantity").val($("#quantity").val())
        })

        $('.selectpicker').change(function () {
            $('#exp').val($(this).find('option:checked').attr('data-exp'))
            $('#storage').val($(this).find('option:checked').attr('data-storage'))
            $('#check_package').prop('checked', $(this).find('option:checked').attr('data-check_package')=='True')
            $('#check_label').prop('checked', $(this).find('option:checked').attr('data-check_label')=='True')
            $('#check_odorless').prop('checked', $(this).find('option:checked').attr('data-check_odorless')=='True')
            $('#check_freeze').prop('checked', $(this).find('option:checked').attr('data-check_freeze')=='True')
        })

        $('#form').submit(function () {
            var requireds = $('.required')
            for(var i=0;i<requireds.length;i++){
                required = requireds.eq(i)
                console.log(required.val())
                if(!required.val()){
                    title = required.prev().html()
                    if (title === '随即出货') {
                        alert('请填写随即出货, 不出货请填0')
                    } else {
                        alert('请填写' + title)
                    }
                    return false
                }
            }
            return true
        })

    </script>
{% endblock %}
