{% extends "base.html" %}


{% block style %}
    <style>
        body{
            padding: 0;
        }
        .navbar{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .main{
            padding: 10px;
            margin: 0;
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">
            原材料进货验收统计
        </div>
        <div class="panel-body">

            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <div>

                <form style="display: inline" action="." method="get" class="form-horizontal">
                    <input type="text" class="form-control form-datetime" name="begin" value="{{ begin }}" autocomplete="off">
                    -
                    <input type="text" class="form-control form-datetime" name="end" value="{{ end }}" autocomplete="off">
                    <button type="submit" class="btn btn-info" >筛选</button>
                </form>

                <form style="display: inline; float: right" class="output" action="/output/" method="post" onsubmit="$(this).find('.data').val($('#table').prop('outerHTML'));">
                    <input type="hidden" name="data" class="data"/>
                    <button type="submit" class="btn btn-info">导出</button>
                </form>


                <table id="table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>录入者</th>
                            <th>原材料名称</th>
                            <th>规格</th>
                            <th>采购数量</th>
                            <th>生产单位</th>
                            <th>生产日期</th>
                            <th>保质期</th>
                            <th>供应商</th>
                            <th>索证索票</th>
                            <th>过期处理数量</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                <td>{{ purchase.day }}</td>
                                <td>{{ purchase.user|default:'-' }}</td>
                                <td>{{ purchase.title }}</td>
                                <td>{{ purchase.unit }}</td>
                                <td>{{ purchase.normal_quantity }}</td>
                                <td>{{ purchase.vendor }}</td>
                                <td>{{ purchase.produced_at }}</td>
                                <td>{{ purchase.exp }}</td>
                                <td>{{ purchase.supplier }}</td>
                                <td>{{ purchase.receipt }}</td>
                                <td>{{ purchase.expired_quantity }}</td>
                                <td>{{ purchase.remark }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr>

            </div>

        </div>
    </div>


{% endblock %}


{% block script %}
    <script>
        $("#purchase_statistics").addClass('active');
        $('#table').bootstrapTable();

    </script>
{% endblock %}
