{% extends "base.html" %}


{% block style %}
    <style>
        body{
            padding: 0;
        }
        .navbar{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .main{
            padding: 10px;
            margin: 0;
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">
            原材料进货验收统计
        </div>
        <div class="panel-body">

            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <div>

                <form style="display: inline" action="." method="get" class="form-horizontal">
                    <input type="text" class="form-control form-datetime" name="begin" value="{{ begin }}" autocomplete="off">
                    -
                    <input type="text" class="form-control form-datetime" name="end" value="{{ end }}" autocomplete="off">
                    <select id="product_id" name="product_id" class="selectpicker" multiple data-none-selected-text="全部原材料" data-live-search="true" data-actions-box="1" data-select-all-text="全选" data-deselect-all-text="清空">
                        {% for product in products %}
                            <option value="{{ product.id }}">
                                {{ product.kind }}类
                                {{ product.title }}
                                {{ product.unit }}
                                {{ product.vendor }}
                                {{ product.supplier }}
                            </option>
                        {% endfor %}
                    </select>
                    <select id="kind" name="kind" class="selectpicker" multiple data-none-selected-text="全部类别" data-actions-box="1" data-select-all-text="全选" data-deselect-all-text="清空">
                        {% for kind in all_kinds %}
                            <option value="{{ kind }}">{{ kind }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-info" name="submit" value="筛选">
                    <input type="submit" class="btn btn-warning" name="submit" value="结存统计">
                    <input type="submit" class="btn btn-warning" name="submit" value="逐日统计">
                </form>
            
                <table id="table" class="table table-bordered table-hover athena-output">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>原材料名称</th>
                            <th>规格</th>
                            <th>采购数量</th>
                            <th>生产单位</th>
                            <th>生产日期</th>
                            <th>保质期</th>
                            <th>供应商</th>
                            <th>索证索票</th>
                            <th>过期处理数量</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                <td><span title="录入者 {{ purchase.user|default:'-' }}">{{ purchase.day }}</span></td>
                                <td>{{ purchase.title }}</td>
                                <td>{{ purchase.unit }}</td>
                                <td>{{ purchase.normal_quantity }}</td>
                                <td>{{ purchase.vendor }}</td>
                                <td>{{ purchase.produced_at }}</td>
                                <td>{{ purchase.exp }}</td>
                                <td>{{ purchase.supplier }}</td>
                                <td>{{ purchase.receipt }}</td>
                                <td>{{ purchase.expired_quantity }}</td>
                                <td>{{ purchase.remark }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr>

            </div>

        </div>
    </div>


    <script src="https://tools.athenagu.com/static/js/athena-output.js?1211"></script>
    
{% endblock %}


{% block script %}
    <script>
        $("#purchase_statistics").addClass('active');
        $('#product_id').val({{ product_ids }})
        $('#kind').val({{ kinds|safe }})
    </script>
{% endblock %}
