{% extends "base.html" %}


{% block style %}
    <style>
        body{
            padding: 0;
        }
        .navbar{
            display: none;
        }
        .sidebar{
            display: none;
        }
        .main{
            padding: 10px;
            margin: 0;
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ begin }} - {{ end }} 库存逐日统计预览
            <a href="{{ output_url }}" download class="btn btn-xs btn-info" style="float: right">导出表格</a>
            <a href="##" class="btn btn-xs btn-success show-all" style="float: right">全部展开</a>
        </div>
        <div class="panel-body">

            <div class="preview">

                {% for product in products %}

                    <div class="row" style="font-weight: bold">
                        <div class="col-sm-1">
                            <span>类别:</span>
                            <span>{{ product.kind }}</span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{ product.title }}</span>
                            <span>{{ product.unit }}</span>
                        </div>
                        <div class="col-sm-2">
                            <span>留存库存:</span>
                            <span>{{ product.stock_begin }}</span>
                        </div>
                        <div class="col-sm-2">
                            <span>最终库存:</span>
                            <span>{{ product.stock_end }}</span>
                        </div>
                        <div class="col-sm-1">
                            <a href="##" class="btn btn-xs btn-primary show-sub" data-product-id="{{ product.id }}">展开</a>
                        </div>
                    </div>

                    <div class="sub"></div>

                    <hr style="margin: 10px">

                {% endfor %}

            </div>

        </div>
    </div>


{% endblock %}


{% block script %}
    <script>
        $('.show-sub').click(function () {
            var sub = $(this).parent().parent().next()
            var product_id = $(this).attr('data-product-id')
            if (!sub.html()) {
                sub.hide()
                var url = '/purchase/preview/sub/?begin={{ begin }}&end={{ end }}&product_id=' + product_id
                sub.load(url, function () {
                    sub.slideToggle()
                })
            } else {
                sub.slideToggle()
            }
        })

        $('.show-all').click(function () {
            {#$('.sub').hide()#}
            $('.show-sub').click()

        })

        $('.preview').on('click', '.modify', function () {
            var self = $(this)
            var product_id = $(this).attr('data-product-id')
            var day = $(this).attr('data-day')
            var is_consume = $(this).attr('data-is-consume')
            var quantity = prompt('更改数量会影响数据记录，请慎重！')
            if (quantity === null) {
                return
            }
            if (is_consume === '1' && quantity > 0) {
                quantity = -quantity
            }
            $.ajax({
                type: 'post',
                url: '/purchase/preview/modify/',
                data: {
                    product_id: product_id,
                    day: day,
                    is_consume: is_consume,
                    quantity: quantity,
                },
                success: function () {
                    self.html(quantity)
                    $('.daily-stock').html('-')
                },
                error: function () {
                    alert('更新错误，请刷新页面重试！')
                }
            })
        })

    </script>
{% endblock %}
