{% extends "base.html" %}

{% block content %}

    <h2 class="sub-header">RSA 小助手</h2>

    {% if msg %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endif %}

    <form id="form" action="." method="POST" class="form-horizontal">

        <div class="form-group">
            <label  class="col-sm-2 control-label"></label>
            <input type="submit" name="submit" class="btn btn-default" value="私钥示例">
            <input type="submit" name="submit" class="btn btn-success" value="通过私钥提取公钥">
            <input type="submit" name="submit" class="btn btn-info" value="随机生成一个密钥对">
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label" >RSA 私钥:</label>
            <textarea class="form-control" name="rsa_key" cols="80" rows="13">{{ rsa_key }}</textarea>
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label" >RSA 公钥:</label>
            <textarea class="form-control" name="rsa_pub_key" cols="80" rows="10" readonly>{{ rsa_pub_key }}</textarea>
        </div>


    </form>

{% endblock %}


{% block script %}
    <script>
        $("#rsa").addClass('active');
    </script>
{% endblock %}