{% extends "base.html" %}


{% block content %}

    <p style="color: gray; font-size: medium; font-weight: normal">
        [SyNote] 复制此页面地址给你的伙伴 一齐编辑文本内容 <span id="location"></span>
    </p>

    <div>
        <textarea class="form-control" id="note" style="width: 100%; height: 70vh; resize: none; outline: none;">{{ note.content }}</textarea>
    </div>

    {% if note %}
        <div class="tools">
            <a href="#" class="btn btn-primary" id="save_history">保存记录</a>
            <a href="/synote_history/{{ note.id }}/" class="btn btn-info">历史版本</a>
        </div>
    {% endif %}

{% endblock %}


{% block script %}
    <script>
        var API_URL = '/synote_api/{{ token }}'
        var CONTENT = ''

        function apply_note(content) {
            if (content != CONTENT) {
                $('#note').val(content)
                CONTENT = content
            }
        }

        function pull_note() {
            $.get(API_URL, function (res) {
                apply_note(res)
            })
        }

        function push_note(save_history) {
            var data = {content: $('#note').val()}
            if (save_history) {
                var history_name = prompt('请填写记录名称（可留空）')
                if (history_name != null) {
                    data.save_history = 1
                    data.history_name = history_name
                }
            }
            $.post(API_URL, data, function (res) {
                apply_note(res)
            })
        }

        function sync_note() {
            var content = $('#note').val()
            if (content == CONTENT) {
                pull_note()
            } else {
                CONTENT = content
                push_note()
            }
        }

        setInterval(sync_note, 3000)

        $('#synote').addClass('active')
        $('#location').html(location.href)

        $('#save_history').click(function () {
            push_note(true)
        })

    </script>
{% endblock %}

