{% extends "base.html" %}

{% block content %}

    <p style="color: gray; font-size: medium; font-weight: normal">
        【SyNote】 复制此页面地址给你的伙伴，共同编辑文本内容 <span id="location"></span>
    </p>

    <div>
        <textarea class="form-control" id="note" style="width: 100%; height: 70vh">{{ note.content }}</textarea>
    </div>



{% endblock %}


{% block script %}
    <script>
        $('#synote').addClass('active')
        $('#location').html(location.href)

        var API_URL = '/synote_api/{{ token }}'
        var CONTENT = ''

        function apply_note(content) {
            if (content != CONTENT) {
                $('#note').val(content)
                CONTENT = content
            }
        }

        function pull_note() {
            $.get(API_URL, function (res) {
                apply_note(res)
            })
        }

        function push_note() {
            var data = {content: $('#note').val()}
            $.post(API_URL, data, function (res) {
                apply_note(res)
            })
        }

        function sync_note() {
            var content = $('#note').val()

            if (content == CONTENT) {
                pull_note()
            } else {
                CONTENT = content
                push_note()
            }
        }

        setInterval(sync_note, 3000)

    </script>
{% endblock %}

