{% extends "base.html" %}

{% block content %}

    <pre>
        {{tips|linebreaksbr}}
    </pre>
    

    <form id="form" action="." method="POST" class="form-horizontal">

        <div class="form-group">
            <label  class="col-sm-2 control-label" >API 调用</label>
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label" >request url:</label>
            <span style="position: absolute; margin-top: 8px">{{request.scheme}}://{{request.get_host}}/xls/</span>
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label">data:</label>
            <textarea class="form-control" name="data" cols="100" rows="5">[
    {"row": 0, "col": 0, "value": "first"}, 
    {"row": 1, "col": 2, "row2": 3, "col2": 2, "value": "second"}
]</textarea>
        </div>

        <div class="form-group">
            <label  class="col-sm-2 control-label"></label>
            <input type="submit" name="submit" class="btn btn-primary" value="生成">
        </div>

    </form>




{% endblock %}


{% block script %}
    <script>
        $("#xls").addClass('active');
    </script>
{% endblock %}